body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1206px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:1196px;
  height:450px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1196px;
  height:450px;
}
#u1 {
  position:absolute;
  left:2px;
  top:217px;
  width:1192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:12px;
  top:460px;
  width:1189px;
  height:88px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1189px;
  height:88px;
}
#u3 {
  position:absolute;
  left:2px;
  top:36px;
  width:1185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:41px;
  top:469px;
  width:90px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:42px;
  top:469px;
  width:177px;
  height:17px;
  font-size:12px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:17px;
  top:492px;
  width:1180px;
  height:48px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:48px;
}
#u9 {
  position:absolute;
  left:2px;
  top:16px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:27px;
  top:507px;
  width:178px;
  height:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
