body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1309px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:742px;
  background:inherit;
  background-color:rgba(42, 50, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(42, 50, 64, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3820 {
  position:absolute;
  left:28px;
  top:73px;
  width:196px;
  height:742px;
}
#u3821 {
  position:absolute;
  left:2px;
  top:363px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3822 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u3823 {
  position:absolute;
  left:71px;
  top:409px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#CCCCCC;
}
#u3824 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3825 {
  position:absolute;
  left:168px;
  top:413px;
  width:16px;
  height:16px;
  font-size:16px;
}
#u3826 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u3828 {
  position:absolute;
  left:71px;
  top:90px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#CCCCCC;
}
#u3829 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3830 {
  position:absolute;
  left:168px;
  top:92px;
  width:16px;
  height:16px;
  font-size:16px;
}
#u3831 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3832 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u3833 {
  position:absolute;
  left:71px;
  top:213px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#CCCCCC;
}
#u3834 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3835 {
  position:absolute;
  left:168px;
  top:217px;
  width:16px;
  height:16px;
  font-size:16px;
}
#u3836 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3837 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u3839 {
  position:absolute;
  left:69px;
  top:543px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u3840 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3841 {
  position:absolute;
  left:168px;
  top:543px;
  width:16px;
  height:16px;
  font-size:16px;
}
#u3842 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3843 {
  position:absolute;
  left:75px;
  top:273px;
  width:79px;
  height:18px;
  color:#CCCCCC;
}
#u3844 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u3845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3845 {
  position:absolute;
  left:75px;
  top:304px;
  width:79px;
  height:18px;
  color:#CCCCCC;
}
#u3846 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u3847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3847 {
  position:absolute;
  left:75px;
  top:125px;
  width:53px;
  height:18px;
  color:#CCCCCC;
}
#u3848 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3849 {
  position:absolute;
  left:73px;
  top:608px;
  width:53px;
  height:18px;
  color:#CCCCCC;
}
#u3850 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3851 {
  position:absolute;
  left:75px;
  top:177px;
  width:53px;
  height:18px;
  color:#CCCCCC;
}
#u3852 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3853 {
  position:absolute;
  left:75px;
  top:443px;
  width:53px;
  height:18px;
  color:#CCCCCC;
}
#u3854 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3855 {
  position:absolute;
  left:75px;
  top:474px;
  width:53px;
  height:18px;
  color:#CCCCCC;
}
#u3856 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3857 {
  position:absolute;
  left:75px;
  top:504px;
  width:53px;
  height:18px;
  color:#CCCCCC;
}
#u3858 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u3860 {
  position:absolute;
  left:71px;
  top:336px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#CCCCCC;
}
#u3861 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3862 {
  position:absolute;
  left:168px;
  top:338px;
  width:16px;
  height:16px;
  font-size:16px;
}
#u3863 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3864 {
  position:absolute;
  left:75px;
  top:370px;
  width:53px;
  height:18px;
  color:#CCCCCC;
}
#u3865 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u3866 {
  position:absolute;
  left:44px;
  top:88px;
  width:27px;
  height:22px;
}
#u3867 {
  position:absolute;
  left:2px;
  top:3px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3868 {
  position:absolute;
  left:46px;
  top:410px;
  width:21px;
  height:21px;
}
#u3869 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3870 {
  position:absolute;
  left:46px;
  top:543px;
  width:21px;
  height:21px;
}
#u3871 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u3872 {
  position:absolute;
  left:45px;
  top:340px;
  width:22px;
  height:19px;
}
#u3873 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3874 {
  position:absolute;
  left:73px;
  top:577px;
  width:53px;
  height:18px;
  color:#CCCCCC;
}
#u3875 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:79px;
}
#u3876 {
  position:absolute;
  left:28px;
  top:8px;
  width:214px;
  height:79px;
}
#u3877 {
  position:absolute;
  left:2px;
  top:32px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1067px;
  height:79px;
}
#u3878 {
  position:absolute;
  left:242px;
  top:8px;
  width:1067px;
  height:79px;
}
#u3879 {
  position:absolute;
  left:2px;
  top:32px;
  width:1063px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3880_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:244px;
  height:5px;
}
#u3880 {
  position:absolute;
  left:240px;
  top:58px;
  width:241px;
  height:2px;
}
#u3881 {
  position:absolute;
  left:2px;
  top:-7px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:28px;
}
#u3882 {
  position:absolute;
  left:532px;
  top:24px;
  width:203px;
  height:28px;
}
#u3883 {
  position:absolute;
  left:2px;
  top:6px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3884 {
  position:absolute;
  left:219px;
  top:24px;
  width:211px;
  height:30px;
}
#u3885 {
  position:absolute;
  left:2px;
  top:7px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:18px;
}
#u3886 {
  position:absolute;
  left:240px;
  top:30px;
  width:320px;
  height:18px;
  font-size:16px;
}
#u3887 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u3888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u3888 {
  position:absolute;
  left:38px;
  top:208px;
  width:29px;
  height:28px;
}
#u3889 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:742px;
}
#u3890 {
  position:absolute;
  left:224px;
  top:73px;
  width:1085px;
  height:742px;
}
#u3891 {
  position:absolute;
  left:2px;
  top:363px;
  width:1081px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3892 {
  position:absolute;
  left:75px;
  top:245px;
  width:53px;
  height:18px;
  color:#CCCCCC;
}
#u3893 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3894 {
  position:absolute;
  left:75px;
  top:151px;
  width:92px;
  height:18px;
  color:#CCCCCC;
}
#u3895 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u3896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1039px;
  height:618px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3896 {
  position:absolute;
  left:245px;
  top:84px;
  width:1039px;
  height:618px;
}
#u3897 {
  position:absolute;
  left:2px;
  top:301px;
  width:1035px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3898 {
  position:absolute;
  left:262px;
  top:101px;
  width:134px;
  height:22px;
  font-size:16px;
}
#u3899 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u3900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1039px;
  height:2px;
}
#u3900 {
  position:absolute;
  left:245px;
  top:135px;
  width:1038px;
  height:1px;
}
#u3901 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3902 {
  position:absolute;
  left:284px;
  top:149px;
  width:985px;
  height:278px;
}
#u3903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:44px;
}
#u3903 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:44px;
  font-size:14px;
}
#u3904 {
  position:absolute;
  left:2px;
  top:12px;
  width:214px;
  word-wrap:break-word;
}
#u3905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:44px;
}
#u3905 {
  position:absolute;
  left:218px;
  top:0px;
  width:311px;
  height:44px;
  font-size:14px;
}
#u3906 {
  position:absolute;
  left:2px;
  top:12px;
  width:307px;
  word-wrap:break-word;
}
#u3907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:44px;
}
#u3907 {
  position:absolute;
  left:529px;
  top:0px;
  width:169px;
  height:44px;
  font-size:14px;
}
#u3908 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u3909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:44px;
}
#u3909 {
  position:absolute;
  left:698px;
  top:0px;
  width:154px;
  height:44px;
  font-size:14px;
}
#u3910 {
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u3911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:44px;
}
#u3911 {
  position:absolute;
  left:852px;
  top:0px;
  width:128px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3912 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u3913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:41px;
}
#u3913 {
  position:absolute;
  left:0px;
  top:44px;
  width:218px;
  height:41px;
  font-size:12px;
}
#u3914 {
  position:absolute;
  left:2px;
  top:12px;
  width:214px;
  word-wrap:break-word;
}
#u3915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:41px;
}
#u3915 {
  position:absolute;
  left:218px;
  top:44px;
  width:311px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3916 {
  position:absolute;
  left:2px;
  top:12px;
  width:307px;
  word-wrap:break-word;
}
#u3917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:41px;
}
#u3917 {
  position:absolute;
  left:529px;
  top:44px;
  width:169px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3918 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u3919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:41px;
}
#u3919 {
  position:absolute;
  left:698px;
  top:44px;
  width:154px;
  height:41px;
  font-size:12px;
}
#u3920 {
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:41px;
}
#u3921 {
  position:absolute;
  left:852px;
  top:44px;
  width:128px;
  height:41px;
  font-size:12px;
}
#u3922 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:41px;
}
#u3923 {
  position:absolute;
  left:0px;
  top:85px;
  width:218px;
  height:41px;
  font-size:12px;
}
#u3924 {
  position:absolute;
  left:2px;
  top:12px;
  width:214px;
  word-wrap:break-word;
}
#u3925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:41px;
}
#u3925 {
  position:absolute;
  left:218px;
  top:85px;
  width:311px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3926 {
  position:absolute;
  left:2px;
  top:12px;
  width:307px;
  word-wrap:break-word;
}
#u3927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:41px;
}
#u3927 {
  position:absolute;
  left:529px;
  top:85px;
  width:169px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3928 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u3929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:41px;
}
#u3929 {
  position:absolute;
  left:698px;
  top:85px;
  width:154px;
  height:41px;
  font-size:12px;
}
#u3930 {
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:41px;
}
#u3931 {
  position:absolute;
  left:852px;
  top:85px;
  width:128px;
  height:41px;
  font-size:12px;
}
#u3932 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:49px;
}
#u3933 {
  position:absolute;
  left:0px;
  top:126px;
  width:218px;
  height:49px;
  font-size:12px;
}
#u3934 {
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:49px;
}
#u3935 {
  position:absolute;
  left:218px;
  top:126px;
  width:311px;
  height:49px;
  font-size:12px;
}
#u3936 {
  position:absolute;
  left:2px;
  top:16px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:49px;
}
#u3937 {
  position:absolute;
  left:529px;
  top:126px;
  width:169px;
  height:49px;
  font-size:12px;
}
#u3938 {
  position:absolute;
  left:2px;
  top:16px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:49px;
}
#u3939 {
  position:absolute;
  left:698px;
  top:126px;
  width:154px;
  height:49px;
  font-size:12px;
}
#u3940 {
  position:absolute;
  left:2px;
  top:16px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:49px;
}
#u3941 {
  position:absolute;
  left:852px;
  top:126px;
  width:128px;
  height:49px;
  font-size:12px;
}
#u3942 {
  position:absolute;
  left:2px;
  top:16px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:49px;
}
#u3943 {
  position:absolute;
  left:0px;
  top:175px;
  width:218px;
  height:49px;
  font-size:12px;
}
#u3944 {
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:49px;
}
#u3945 {
  position:absolute;
  left:218px;
  top:175px;
  width:311px;
  height:49px;
  font-size:12px;
}
#u3946 {
  position:absolute;
  left:2px;
  top:16px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:49px;
}
#u3947 {
  position:absolute;
  left:529px;
  top:175px;
  width:169px;
  height:49px;
  font-size:12px;
}
#u3948 {
  position:absolute;
  left:2px;
  top:16px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:49px;
}
#u3949 {
  position:absolute;
  left:698px;
  top:175px;
  width:154px;
  height:49px;
  font-size:12px;
}
#u3950 {
  position:absolute;
  left:2px;
  top:16px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:49px;
}
#u3951 {
  position:absolute;
  left:852px;
  top:175px;
  width:128px;
  height:49px;
  font-size:12px;
}
#u3952 {
  position:absolute;
  left:2px;
  top:16px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:49px;
}
#u3953 {
  position:absolute;
  left:0px;
  top:224px;
  width:218px;
  height:49px;
  font-size:12px;
}
#u3954 {
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:49px;
}
#u3955 {
  position:absolute;
  left:218px;
  top:224px;
  width:311px;
  height:49px;
  font-size:12px;
}
#u3956 {
  position:absolute;
  left:2px;
  top:16px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:49px;
}
#u3957 {
  position:absolute;
  left:529px;
  top:224px;
  width:169px;
  height:49px;
  font-size:12px;
}
#u3958 {
  position:absolute;
  left:2px;
  top:16px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:49px;
}
#u3959 {
  position:absolute;
  left:698px;
  top:224px;
  width:154px;
  height:49px;
  font-size:12px;
}
#u3960 {
  position:absolute;
  left:2px;
  top:16px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:49px;
}
#u3961 {
  position:absolute;
  left:852px;
  top:224px;
  width:128px;
  height:49px;
  font-size:12px;
}
#u3962 {
  position:absolute;
  left:2px;
  top:16px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3963 {
  position:absolute;
  left:650px;
  top:97px;
  width:114px;
  height:29px;
}
#u3964 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3965 {
  position:absolute;
  left:601px;
  top:103px;
  width:29px;
  height:20px;
  color:#666666;
}
#u3966 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3967 {
  position:absolute;
  left:792px;
  top:97px;
  width:59px;
  height:28px;
}
#u3968 {
  position:absolute;
  left:2px;
  top:5px;
  width:55px;
  word-wrap:break-word;
}
#u3969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3969 {
  position:absolute;
  left:1196px;
  top:95px;
  width:59px;
  height:28px;
}
#u3970 {
  position:absolute;
  left:2px;
  top:5px;
  width:55px;
  word-wrap:break-word;
}
#u3971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3971 {
  position:absolute;
  left:991px;
  top:199px;
  width:57px;
  height:27px;
}
#u3972 {
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  word-wrap:break-word;
}
#u3973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3973 {
  position:absolute;
  left:1063px;
  top:199px;
  width:57px;
  height:27px;
}
#u3974 {
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  word-wrap:break-word;
}
#u3975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3975 {
  position:absolute;
  left:993px;
  top:242px;
  width:57px;
  height:27px;
}
#u3976 {
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  word-wrap:break-word;
}
#u3977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3977 {
  position:absolute;
  left:1064px;
  top:242px;
  width:57px;
  height:27px;
}
#u3978 {
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  word-wrap:break-word;
}
#u3979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3979 {
  position:absolute;
  left:1171px;
  top:199px;
  width:57px;
  height:27px;
}
#u3980 {
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  word-wrap:break-word;
}
#u3981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3981 {
  position:absolute;
  left:1172px;
  top:242px;
  width:57px;
  height:27px;
}
#u3982 {
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  word-wrap:break-word;
}
#u3983 {
  position:absolute;
  left:496px;
  top:171px;
  width:613px;
  height:344px;
  overflow:hidden;
  visibility:hidden;
}
#u3983_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:344px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3983_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3984 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:330px;
}
#u3985 {
  position:absolute;
  left:2px;
  top:157px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3986 {
  position:absolute;
  left:16px;
  top:12px;
  width:71px;
  height:20px;
}
#u3987 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u3988 {
  position:absolute;
  left:557px;
  top:12px;
  width:12px;
  height:18px;
  font-size:16px;
  color:#666666;
}
#u3989 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:2px;
}
#u3990 {
  position:absolute;
  left:0px;
  top:38px;
  width:580px;
  height:1px;
}
#u3991 {
  position:absolute;
  left:2px;
  top:-8px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u3992 {
  position:absolute;
  left:128px;
  top:62px;
  width:57px;
  height:20px;
  text-align:right;
}
#u3993 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u3994 {
  position:absolute;
  left:128px;
  top:94px;
  width:57px;
  height:20px;
  text-align:right;
}
#u3995 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3996 {
  position:absolute;
  left:201px;
  top:54px;
  width:280px;
  height:28px;
}
#u3997 {
  position:absolute;
  left:2px;
  top:6px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3998 {
  position:absolute;
  left:201px;
  top:89px;
  width:280px;
  height:147px;
}
#u3999 {
  position:absolute;
  left:2px;
  top:66px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4000 {
  position:absolute;
  left:156px;
  top:260px;
  width:120px;
  height:32px;
}
#u4001 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u4002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4002 {
  position:absolute;
  left:322px;
  top:260px;
  width:120px;
  height:32px;
}
#u4003 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
